:root {
  --background-default: #fff;
  --app-background: #eae6df;
  --app-background-deeper: #d1d7db;
  --app-background-stripe: #00a884;
  --panel-background-lighter: #f7f8fa;
  --intro-background: #f0f2f5;
  --primary: #3b4a54;
  --shadow-rgb: 11,20,26;
  --conversation-panel-background: #efeae2;
  --outgoing-background: #d9fdd3;
}